@tailwind base;
@tailwind components;
@tailwind utilities;


.navbar {
    background-color: #fefefe10;
    width: 90%;
    left: 5%;
    top: 20px;
    border-radius: 50px;
    position: fixed;

}

#language-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #ffffff00;
    color: #ffffff;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    padding: 8px 36px 8px 40px;
    font-size: 14px;
    line-height: 1.2;
    background-repeat: no-repeat;
    background-position: left 12px center;
    background-size: 18px 18px;
}

.content {
    color: white;
    height: calc(100vh);
    background-image: url('../../public/images/Hero.png');
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.welcome-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    position: absolute;
    bottom: 0%;
    width: 80%;
    left: 10%;
    height: 70%;
}

swiper-container {
    width: 80%;
    margin: 50px auto;
    height: 200px;
}

/* swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
swiper-slide img {
    object-fit: content;
    height: 50%;
}

swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
} */